<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <p>タイトル：{{ .reading.Title}}</p>
    <p>価格：{{ .reading.Price}}</p>
    <p>評価：☆{{ .reading.Review}}</p>
    <p>感想：{{ .reading.Impression}}</p>
    <a href="/edit/{{ .reading.ID}}">編集</a>
    <a href="/delete/{{ .reading.ID}}">削除</a>
    <br>
    <a href="/">一覧へ戻る</a>
</body>
</body>
</html>