<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ユーザー登録</title>
</head>
<body>
    <form action="sendUserInfo" method="post">
        ユーザー名：<input type="text" name="userName"><br>
        メールアドレス：<input type="text" name="email"><br>
        パスワード：<input type="password" name="password"><br>
        <input type="submit" value="登録">
    </form>
</body>
</html>